.button{
    text-align: center;
    background-color: #7d7d7d;
    border-radius: 13px;
    color:$white;
    border:0;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 0.06em;
    padding: 2% 10%;
    text-decoration: none;
    margin:10%;
	display: inline-block;
	transition: background-color 0.3s;
	cursor: pointer; 
	&:hover{
		background-color: darken($grey, 10%);
	}

	&--success{
		background-color: $green;
		&:hover{
			background-color: lighten($green, 10%);
		}
	}

	&--alert{
		background-color: $red;
		&:hover{
			background-color: lighten($red, 10%);
		}
	}

}