.etiquetteProduit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 15px;
    background-color: #c4c4c4;


}

.etiquetteProduit .valide{
    text-align: center;
    background-color: #7d7d7d;
    border-radius: 15px;
    
}

.frontHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


