.main-content {
	background-color: #E5E5E5;
	width: calc(100% - 250px);
	
	margin-left: 250px;
	padding: 20px 30px;
}
.row1 {
	display: flex;
	margin: 10px;
}
.row2 {
	display: flex;
	margin: 10px;
}
.col1 {
	flex: 1; 
	padding: 1em;
	//border: solid;
	margin: 10px;
}
.col2 {
	flex: 1; 
	padding: 1em;
	//border: solid;
	margin: 10px;
} 
.conteneur1{
	display: flex;
	justify-content: space-between; 
}
.conteneur2{
	display: flex;
}
.conteneur3{
	display: flex;
}
.conteneur4{
	display: flex;
}
.flex1{
	text-align: center;
	border: none;
	margin-top: 40px;
	width: 180px; 
	height:120px; 
	border-radius: 25px;
	background-color: #FFFFFF;
	box-shadow: 2px 4px 3px grey;
}
 .flex2{
	flex-grow: 1;
	text-align: center;
	border: none;
	margin-top: 40px;
	height: 350px;
	border-radius: 25px;
	background-color: #FFFFFF;
	box-shadow: 2px 4px 3px grey;
}
 .flex3{
	flex-grow: 1;
	text-align: center;
	border: none;
	margin-top: 40px;
	height: 350px;
	border-radius: 25px;
	background-color: #FFFFFF;
	box-shadow: 2px 4px 3px grey;
}
 .flex4{
	flex-grow: 1;
	text-align: center;
	border: none;
	margin-top: 40px;
	height: 350px;
	border-radius: 25px;
	background-color: #FFFFFF;
	box-shadow: 2px 4px 3px grey;
}