
body, html {
    font-family: 'Lato', sans-serif;
	font-size: 20px;
	height: 100%;
	position: relative;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    background-color: $main-color;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.clearfix:after {
	content: "";
	display: block;
	clear: both;
}


@media only screen and (max-width: 420px){
	header {
		display: block;
	}
	.nav-btn {
		display: block;
	}
	.sidebar {
		position: relative;
		height: 378px;
		width: 100%;
		display: none;
		margin-bottom: 40px;
		z-index: 1000;
	}
	.main-content {
		width: 100%;
		margin-left: 0;
		z-index: -1;
		position: relative;
	}
}

@media only screen and (max-width: 768px){
	header {
		display: block;
	}
	.nav-btn {
		display: block;
	}
	.sidebar {
		position: relative;
		height: 378px;
		width: 100%;
		display: none;
		margin-bottom: 40px;
		z-index: 1000;
	}
	.main-content {
		width: 100%;
		margin-left: 0;
		z-index: -1;
		position: relative;
	}
}
