$main-color : #123456;
$text-color : #333;
$white: #FFF;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;


$grid-columns: 12;
$container-width: 100%;
$gutter-width: 2%;

$sm-width: 540px;
$md-width: 720px;
$lg-width: 960px;
