
@import "variables";
@import "globals";
@import "fonts";
@import "components/grid";

@import "components/sidebar";
@import "components/header";
@import "components/maincontent";
@import "components/profile";









@import "components/button";
@import "components/etiquetteProduit";
@import "components/dropdown";


body {
    color: $text-color;
    padding: 0;
    margin: 0;
}

